<table height="100%" >
    <tr height="40">
    	<td><%= link_to image_tag("/assets/home.png",:size => "100x80"), "home"%></td>
       
    </tr>
    <tr height="40">    	
       <td><%= link_to image_tag("/assets/CM-icon.jpg"), "editcmhome"%></td>
    </tr>
    <tr height="40">
    	<td><%= link_to image_tag("/assets/SCT-icon.jpg"), "edittomcathome"%></td>
    </tr>
	<tr height="40">
		<td><%= link_to image_tag("/assets/ALM-icon.jpg"), "editalmhome"%></td>
    </tr>
    <tr>
       <td>&nbsp;</td>
    </tr>
</table>

